@use '../colors';
@use '../utilities';
@use './header/choose-affiliation';
@use './header/logo';

// --------------------------------------------------
//
// # Header
//   Styles to apply directly to `views/partials/_header.erb`.
//
// ## Table of Contents
//   1. Skip Links
//   2. m-website-header
//   3. Print Logo
//
// --------------------------------------------------

// *********************** //
// *** 1. PRINT STYLES *** //
// *********************** //

@media print {
  .skip-links,
  m-universal-header,
  m-website-header {
    display: none;
  }
}





// *************************** //
// *** 2. M-WEBSITE-HEADER *** //
// *************************** //

m-website-header {
  font-family: var(--font-base-family);
  nav,
  nav ul {
    @include utilities.flex($wrap: true);
  }
  nav {
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    body:not([class]) & {
      all: unset;
      .logo {
        display: none;
      }
    }
  }
}





// ********************* //
// *** 3. PRINT LOGO *** //
// ********************* //

.logo__print {
  padding: 0.5in;
  padding-bottom: 0;
  @media screen {
    display: none;
  }
}
