@use '../colors';
@use '../utilities';
@use './header/choose-affiliation';
@use './header/logo';

// --------------------------------------------------
//
// # Header
//   Styles to apply directly to `views/partials/_header.erb`.
//
// ## Table of Contents
//   1. Skip Links
//   2. m-universal-header
//   3. m-website-header
//     3.1 Navigation
//     3.2 Login
//     3.3 JavaScript Enabled
//   4. Print Logo
//
// --------------------------------------------------

// *********************** //
// *** 1. PRINT STYLES *** //
// *********************** //

@media print {
  .skip-links,
  m-universal-header,
  m-website-header {
    display: none;
  }
}





// ***************************** //
// *** 2. M-UNIVERSAL-HEADER *** //
// ***************************** //

body:not([class]) m-universal-header {
  min-height: 35px;
}





// *************************** //
// *** 3. M-WEBSITE-HEADER *** //
// *************************** //

$component: "m-website-header";

#{$component} {
  font-family: var(--font-base-family);
}



// *                * //
// * 3.1 NAVIGATION * //
// *                * //

#{$component} {
  nav,
  nav ul {
    @include utilities.flex($wrap: true);
  }
  nav {
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}



// *           * //
// * 3.2 LOGIN * //
// *           * //

#{$component} #login_form button {
  all: unset;
  color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}



// *                        * //
// * 3.3 JAVASCRIPT ENABLED * //
// *                        * //

body:not([class]) #{$component} nav {
  all: unset;
  .logo {
    display: none;
  }
}





// ********************* //
// *** 4. PRINT LOGO *** //
// ********************* //

.logo__print {
  padding: 0.5in;
  padding-bottom: 0;
  @media screen {
    display: none;
  }
}
