<footer>
  <section class="footer__feedback">
    <div class="container">
      <p><a href="https://umich.qualtrics.com/jfe/form/SV_bCwYIKueEXs8wBf?utm_source=library-search" target="_blank" rel="noopener noreferrer" aria-label="Give feedback about this page - Opens in new window">Give feedback about this page<span class="material-symbols-rounded" aria-hidden="true">open_in_new</span></a></p>
    </div>
  </section>
  <section class="footer__information">
    <div class="viewport-container">
      <nav aria-label="Footer">
        <ul>
          <li>
            <%= link_to(body:"Home", url: "/everything", open_in_new: true) %>
          </li>
          <li>
            <a href="/accessibility">Accessibility</a>
          </li>
          <li>
            <%= link_to(body: "Tips for Using Library Search", url:"https://guides.lib.umich.edu/c.php?g=914690")%>
          </li>
          <li>
            <a href="https://lib.umich.edu/research-and-scholarship/help-research/how-we-can-help?utm_source=library-search">Get research help</a>
          </li>
          <li>
            <a href="/about-library-search">About Library Search</a>
          </li>
          <li>
            <a href="https://ill.lib.umich.edu/?utm_source=library-search">Make an <abbr title="Interlibrary Loan">I.L.L.</abbr> Request</a>
          </li>
        </ul>
      </nav>
      <p>&copy;<%= Time.now.year %> Regents of the University of Michigan. For details and exceptions, see the <a href="https://lib.umich.edu/about-us/policies/copyright-policy?utm_source=library-search">Copyright Policy</a>.</p>
    </div>
  </section>
  <m-chat id="chat" tabindex="-1"></m-chat>
</footer>
