<nav class="skip-links" aria-label="Skip links">
  <ul class="viewport-container">
    <li>
      <a href="#maincontent">Skip to main content</a>
    </li>
    <li>
      <a href="#chat">Skip to Ask a Librarian chat</a>
    </li>
  </ul>
</nav>
<m-universal-header></m-universal-header>
<m-website-header name="Search" variant="dark">
  <nav aria-label="Utility" class="viewport-container">
    <%= erb :'partials/header/_logo' %>
    <ul>
      <li>
        <a href="https://account.lib.umich.edu/?utm_source=library-search" class="underline__none">
          Account
        </a>
      </li>
      <li>
        <%= erb :'partials/header/_login', locals: { logged_in: @patron[:logged_in?] } %>
      </li>
      <li>
        <%= erb :'partials/header/_choose-affiliation', locals: { current_affiliation: request.params["affiliation"] || @patron[:affiliation] } %>
      </li>
    </ul>
  </nav>
</m-website-header>
<div class="logo__print">
  <%= erb :'partials/header/_logo' %>
</div>
