@use '../../colors';
@use '../../utilities';

// --------------------------------------------------
//
// # Logo
//   Styles to apply directly to `views/partials/header/_logo.erb`.
//
// ## Table of Contents
//   1. Logo
//
// --------------------------------------------------



// *************** //
// *** 1. LOGO *** //
// *************** //

.logo {
  @include utilities.flex($wrap: true);
  & {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    line-height: 1.25;
    text-transform: uppercase;
  }
  svg {
    margin-top: 0.25rem;
    max-width: 100%;
    .logo__fill {
      fill: white;
      @media print {
        fill: var(--color-blue-400);
      }
    }
  }
  a {
    @media print {
      color: colors.$color-text;
    }
  }
}

/*                */
/* 1.1. ANIMATION */
/*                */

@keyframes adjustHeight {
  from { height: 0; }
  to { height: auto; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100; }
}

@media screen {
  body:not([class]) .logo {
    animation:
      adjustHeight 0.5s 0s forwards,
      fadeIn 1s 0.5s forwards;
    height: 0;
    opacity: 0;
  }
}