<nav aria-label="Primary" class="primary-navigation">
  <ul>
    <% datastores.each do |datastore| %>
      <li>
        <%= link_to(
          body: (datastore[:slug] == "everything" ? "<span class=\"material-symbols-rounded material-symbols-filled\" aria-hidden=\"true\">dashboard</span>" : "") + "<span>#{datastore[:title]}</span>",
          url: "/#{datastore[:slug]}",
          classes: ["underline__none"],
          rest: datastore[:slug] == current_datastore ? "aria-current=\"page\"" : nil
        ) %>
      </li>
    <% end %>
  </ul>
</nav>
