@use 'colors';
@use 'typography';

// --------------------------------------------------
//
// # Anchors
//   Default styling for links.
//
// ## Table of Contents
//   1. Anchors
//     1.1 No underline
//     1.2 Open in new
//
// --------------------------------------------------



// ****************** //
// *** 1. ANCHORS *** //
// ****************** //

a {
  color: colors.$color-anchor;
}



// *                  * //
// * 1.1 NO UNDERLINE * //
// *                  * //

a.underline__none {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



// *                 * //
// * 1.2 OPEN IN NEW * //
// *                 * //

a.open-in-new:after {
  @include typography.icon();
  & {
    content: "\e89e"; // open_in_new
    display: inline-block;
    margin-left: 0.25rem;
    vertical-align: bottom;
  }
}
