@use './media';
@use 'sass:map';

// --------------------------------------------------
//
// # Dialog
//   Default styling for `dialog` elements.
//
// ## Table of Contents
//   1. Dialog
//
// --------------------------------------------------

// ***************** //
// *** 1. DIALOG *** //
// ***************** //

dialog {
  border: none;
  max-width: map.get(media.$breakpoints, 'xs');
  padding: 1rem;
  &::backdrop {
    background: var(--search-color-grey-700);
    opacity: 0.75;
  }
  @include media.breakpoint('xs') {
    padding: 2rem;
  }
}
