@use './colors';
@use './media';
@use './utilities';

// --------------------------------------------------
//
// # Forms
//   Styling for common form elements and classes.
//
// ## Table of Contents
//   1. Variables and Mixins
//     1.1. Variables
//     1.2. Mixins
//   2. Inputs
//     2.1. Checkboxes
//     2.2. Radio Buttons
//   3. Select
//   4. Textarea
//   5. Buttons
//     5.1. Primary
//     5.2. Ghost
//       5.2.1 Active
//     5.3. Link
//
// --------------------------------------------------

// ******************************* //
// *** 1. VARIABLES AND MIXINS *** //
// ******************************* //

// *               * //
// * 1.1 VARIABLES * //
// *               * //

$background: white;
$filter: saturate(35%) brightness(150%) contrast(75%);
$radius: 4px;



// *            * //
// * 1.2 MIXINS * //
// *            * //

@mixin disabled {
  &:disabled {
    cursor: not-allowed;
    @content;
  }
}

@mixin all {
  all: unset;
  border-radius: $radius;
  box-sizing: border-box;
  cursor: pointer;
}

@mixin button {
  @include all;
  @include utilities.flex();
  @include disabled {
    filter: $filter;
  };
}

@mixin input {
  @include all;
  background: $background;
  border: 1px solid var(--search-color-grey-400);
  box-shadow: inset 0 1px 4px var(--search-color-grey-300);
  max-width: 100%;
  padding: .5rem .75rem;
  width: 100%;
  @include disabled() {
    background: var(--search-color-grey-200);
    box-shadow: none;
  }
}

@mixin check {
  @include all;
  @include disabled;
  background: $background;
  border: 2px solid var(--search-color-grey-600);
  position: relative;
  &:checked:before {
    content: '';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @include disabled() {
    background: var(--search-color-grey-200);
    border-color: var(--color-neutral-200);
  }
}





// ***************** //
// *** 2. INPUTS *** //
// ***************** //

input:not([type="checkbox"], [type="radio"]) {
  @include input;
  cursor: initial;
}



// *                * //
// * 2.1 CHECKBOXES * //
// *                * //

input[type="checkbox"] {
  @include check();
  border-radius: 2px;
  &,
  &:checked:before {
    height: 1rem;
    width: 1rem;
  }
  &:checked {
    background: colors.$color-anchor;
    border-color: colors.$color-anchor;
    &:before {
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZThlYWVkIj48cGF0aCBkPSJtMzgyLTM4OCAzMjEtMzIxcTE5LTE5IDQ1LTE5dDQ1IDE5cTE5IDE5IDE5IDQ1dC0xOSA0NUw0MjctMjUzcS0xOSAxOS00NSAxOXQtNDUtMTlMMTY3LTQyM3EtMTktMTktMTktNDV0MTktNDVxMTktMTkgNDUtMTl0NDUgMTlsMTI1IDEyNVoiLz48L3N2Zz4=) center no-repeat;
      background-size: contain;
    }
  }
  &:disabled:checked {
    filter: $filter;
  }
}



// *                   * //
// * 2.2 RADIO BUTTONS * //
// *                   * //

input[type="radio"] {
  @include check();
  height: 1.5rem;
  width: 1.5rem;
  &,
  &:checked:before {
    border-radius: 50%;
  }
  &:checked:before {
    background: colors.$color-anchor;
    height: 60%;
    width: 60%;
  }
  &:disabled:checked:before {
    filter: $filter;
  }
}





// ***************** //
// *** 3. SELECT *** //
// ***************** //

select {
  @include input;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23637381'%3E%3Cpath d='M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E") right 0.5rem center no-repeat var(--search-color-grey-100);
  background-size: 1.5rem;
}





// ******************* //
// *** 4. TEXTAREA *** //
// ******************* //

textarea {
  @include input;
  cursor: initial;
}





// ****************** //
// *** 5. BUTTONS *** //
// ****************** //

// *             * //
// * 5.1 PRIMARY * //
// *             * //

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button__primary {
  @include button;
  & {
    background: var(--search-color-blue-400);
    border-bottom: 3px solid var(--search-color-blue-500);
    color: $background;
    padding: 0.5rem 1rem;
  }
  &:not(:disabled):hover {
    background: var(--search-color-blue-500);
    border-color: var(--color-blue-400);
  }
}



// *           * //
// * 5.2 GHOST * //
// *           * //

.button__ghost {
  @include button;
  background: $background;
  border: 1px solid currentColor;
  color: var(--search-color-grey-600);
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  &:not(:disabled):hover {
    background: $background;
    border-color: currentColor;
    box-shadow: 0 0 0 2px $background, 0 0 0 3px currentColor;
  }
}

// * 5.2.1 ACTIVE * //

.button__ghost--active {
  background: var(--search-color-blue-200);
  color: var(--search-color-blue-500);
  &:not(:disabled):hover {
    background: var(--search-color-blue-200);
  }
}



// *          * //
// * 5.3 LINK * //
// *          * //

.button__link {
  @extend .button__ghost;
  background: transparent;
  border: 0;
  text-decoration: underline;
}
