// --------------------------------------------------
//
// # Typography
//   Styling for common text elements and classes.
//
// ## Table of Contents
//   1. Mixins
//   2. Headings
//   3. Sizes
//   4. Weight
//   5. Material Icons
//
// --------------------------------------------------





// ***************** //
// *** 1. MIXINS *** //
// ***************** //

@mixin icon($fill: false) {
  font-family: "Material Symbols Rounded";
  @if $fill {
    font-variation-settings: "FILL" 1;
  }
}





// ******************* //
// *** 2. HEADINGS *** //
// ******************* //

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}





// **************** //
// *** 3. SIZES *** //
// **************** //

.text__large {
  font-size: 1.125rem;
}





// ****************** //
// *** 4. WEIGHTS *** //
// ****************** //

.strong {
  font-weight: 700;
}





// ************************* //
// *** 5. MATERIAL ICONS *** //
// ************************* //

[class^="material-symbols-"] {
  font-size: 1em;
  vertical-align: middle;
}
