<%
  affiliations = [
    {active: current_affiliation == "aa", name: "Ann Arbor", uid: "aa"},
    {active: current_affiliation == "flint", name: "Flint", uid: "flint"}
  ]
  inactive_affiliation = affiliations.find { |affiliation| !affiliation[:active] }
  request.params["affiliation"] = inactive_affiliation[:uid]
  change_affiliation_url = "#{request.path}?#{URI.encode_www_form(request.params)}"
%>

<%= link_to(
  body: affiliations.map do |affiliation| 
    <<-HTML
      <span class="#{"affiliation__active" if affiliation[:active]}">
        <span class="visually-hidden">#{affiliation[:active] ? "Current" : "Choose"} campus affiliation:</span>
        <span>#{affiliation[:name]}</span>
      </span>
    HTML
  end.join,
  url: change_affiliation_url,
  classes: ["affiliation__change"]
) %>

<dialog class="container__rounded--no-shadow affiliation__dialog">
  <section class="content">
    <h2>Choose campus affiliation</h2>
    <p>Selecting an affiliation helps us connect you to available online materials licensed for your campus.</p>
    <div class="affiliation__dialog--buttons">
      <button class="button__primary affiliation__dialog--dismiss">
        Continue as <%= affiliations.find { |affiliation| affiliation[:active] }[:name] %>
      </button>
      or
      <%= link_to(body: "Change to #{inactive_affiliation[:name]}", url: change_affiliation_url, classes: ["button__ghost"]) %>
    </div>
    <p><small>You can still use Library Search if you're not affiliated with either campus.</small></p>
  </section>
  <button class="button__link affiliation__dialog--dismiss">Dismiss</button>
</dialog>
