<% if logged_in %>
  <%= link_to(body: "Log out", url: "/logout", classes: ["underline__none"]) %>
<% else %>
  <form id="login_form" method="post" action="/key-change">
    <input type="hidden" name="authenticity_token" value="<%#= request.env["rack.session"]["csrf"] %>">
    <button type="submit">Log in</button>
  </form>
<% end %>
