<p class="landing__content--summary">
  <span class="strong">Articles</span> is a gateway to discovering a wide range of the library's resources.
</p>
<p>
  Your results will include scholarly journal articles, newspaper articles, book chapters, conference proceedings, and more. To focus your search on a specific subject area, try looking for databases.
</p>
