<p class="landing__content--summary">
  The <span class="strong">Catalog</span> is the definitive place for finding materials held by the U-M Library.
</p>
<p>
  Your results will include everything in our physical collection (books, audio, video, maps, musical scores, archival materials, and more), as well as materials available online such as electronic books, streaming audio and video, and online journals.
</p>
<div class="landing__content--libraries">
  <h2>
    To find materials closest to you, please choose a library
  </h2>
  <ul class="list__no-style">
    <% 
      [
        "All libraries",
        "U-M Ann Arbor Libraries",
        "Flint Thompson Library",
        "Bentley Historical Library",
        "William L. Clements Library"
      ].each do |library|
      is_active = params[:library] == library ? "button__ghost--active" : nil
    %>
      <li>
        <%= link_to(body: library, url: "?library=#{library.tr(" ", "+")}", classes: ["button__ghost", is_active]) %>
      </li>
    <% end %>
  </ul>
  <p>
    <%= link_to(body: "About our other Library Catalogs", url: "https://lib.umich.edu/find-borrow-request/find-materials/using-other-catalogs") %>
  </p>
</div>
