<p class="landing__content--summary">
  <span class="strong">Databases</span> are library search engines focused on a specific subject or range of subjects. Some may highlight a particular format, while others will contain a variety of material types.
</p>
<p>
  Your results will include databases the library subscribes to, databases of locally created materials, and databases available to anyone via open access.
</p>
<p>
  <%= link_to(body: "Browse all Databases", url: "/databases/browse") %> alphabetically or by academic discipline.
</p>
