<p class="landing__content--summary">
  Search <span class="strong">Everything</span> to see a broad sampling of results from across 'Library Search' and to explore specific areas and records in greater detail.
</p>
<p>
  You will see results from the <a href="/catalog">Catalog</a>, <a href="/articles">Articles</a>, <a href="/databases">Databases</a>, <a href="/onlinejournals">Online Journals</a>, and <a href="/guidesandmore">Guides and More</a> pages.
</p>
<p>
  Enter a search term in the search box to start your own Everything search.
</p>
