<p class="landing__content--summary">
  <span class="strong">Online Journals</span> are serial (repeating) publications the library subscribes to electronically. This includes not only journals, but also newspapers, trade publications, magazines, and more.
</p>
<p>
  Your results will include journals the library subscribes to, as well as some available to anyone via open access. You will see statements with any specifics about access and many journals will be available through multiple platforms. Be sure to check dates alongside each to see what you can access.
</p>
<p>
  <%= link_to(body: "Browse all Online Journals", url: "/onlinejournals/browse") %> alphabetically or by academic discipline.
</p>
